:root {
  --title_color: lime;
  --title_zise: 20px;
  --text_color: rgb(107, 3, 107);
  --text_size: 16px;
}
* {
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  text-align: center;
  font-family: sans-serif;
  font-size: var(--text_size);
  color: var(--text_color);
  background-color: rgb(2, 2, 40);
}

#container {
  width: 70%;
  padding: 1em;
  text-align: left;
  border: 1px solid rgba(43, 255, 0, 0.7);
  margin: 5em auto;
}
h1 {
  color: var(--title_color);
  font-size: var(--title_zise);
}
