:root {
  --title_color: lime;
  --title_zise: 20px;
  --text_color: rgb(107, 3, 107);
  --text_size: 16px;
}

body {
  position: relative;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: var(--text_size);
  color: var(--text_color);
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(2, 2, 114);
  padding: 0;
  margin: 0;
}

#container {
  width: 70%;
  padding: 0;
  text-align: left;
  border: 1px solid rgba(43, 255, 0, 0.7);
  margin: 5em auto;
}
#cabecera {
  background-color: rgb(184, 6, 184);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.75);
  color: black;
  font-weight: bold;
  margin: 0;
  padding: 0.5em;
}
#cabecera #tagline {
  padding: 0 0 1em;
  font-weight: normal;
  font-size: 0.8em;
}
#post {
  padding: 1em;
}
h1 {
  color: var(--title_color);
  font-size: var(--title_zise);
}
