:root {
  --title_color: lime;
  --title_zise: 20px;
  --text_color: orangered;
  --text_size: 16px;
}

body {
  position: relative;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: var(--text_size);
  font-weight: bold;
  color: var(--text_color);
  background-color: rgb(2, 2, 101);
  padding: 0;
  margin: 0;
}

#container {
  width: 70%;
  padding: 0;
  text-align: left;
  border: 1px solid rgba(43, 255, 0, 0.7);
  margin: 5em auto;
}
#cabecera {
  background-color: darkviolet;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.75);
  color: black;
  font-weight: bold;
  margin: 0.5px;
  padding: 0.2em 0.5em;
}
#cabecera #logo {
  width: 40px;
  vertical-align: middle;
}
#cabecera #tagline {
  padding: 0 0 1em;
  font-weight: normal;
  font-size: 0.8em;
}
#post {
  background: rgba(0, 0, 0, 0.15);
  padding: 1em;
}
h1 {
  color: var(--title_color);
  font-size: var(--title_zise);
}

footer {
  background-color: orangered;
  color: rgb(6, 6, 171);
  text-align: center;
  font-weight: bold;
  padding: 0.5em;
  text-shadow: 0 0 10px black;
}
